<ion-view view-title="Chat">
  <ion-content class="padding">
    <div class="row" ng-if="teachersData.length > 0">
      <h4>Please select a teacher to text</h4>
    </div>
    <ion-list ng-if="teachersData.length > 0">
      <ion-item class="item-text-wrap item-icon-right" ng-repeat="subject in teachersData" ng-click="showDetails = !showDetails" >
          <p>
            <a href="javascript:void(0)" class="text-subdued-frobels">{{subject.subject_name}}</a>
          </p>
          <div ng-show="showDetails">
            <p>&nbsp;</p>
            <a href="javascript:void(0)" ng-click="textTeacher($index)" class="text-subdued-frobels">{{subject.emp_name}}</a>
            <i class="icon ion-person" style="position: absolute; right: 186px; top: 18px;" ui-sref="app.viewprofile({type: 'teacher', personId: {{subject.emp_id}}})"></i>
            <span class="unread-highlighter" ng-if="showUnread(subject.emp_id)">.</span>
          </div>
        <i class="icon icon-accessory" ng-class="{'ion-chevron-right' : !showDetails, 'ion-chevron-down': showDetails}"></i>
      </ion-item>
    </ion-list>
    <div class="card" ng-if="teachersData.length == 0">
        <p style="text-align: center; padding: 43px;">No records found.</p>
    </div>
  </ion-content>
</ion-view>

<!-- <a ui-sref="app.viewprofile({type: 'teacher', personId: {{subject.emp_id}}})">view profile</a> -->
