<ion-view view-title="Contact Us">
  <ion-content class="padding">
    <div class="card">
      <div class="row no-data-card">
        <p>
          {{schoolDetails.school_name}}
        </p>
      </div>
      <hr />
      <div class="row no-data-card">
        <p>
          {{schoolDetails.address}}
        </p>
      </div>
      <hr />
      <div class="row no-data-card">
        <p>
          {{schoolDetails.email_id}}
        </p>
      </div>
      <hr />
      <div class="row no-data-card">
        <p>
          {{schoolDetails.mobile_no}}
        </p>
      </div>
      <hr />
      <div class="row no-data-card">
        <p>
          {{schoolDetails.telephone_no}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
