<ion-view view-title="Inbox">
  <ion-content class="padding">
    <div class="row" ng-if="parentsList.length > 0">
      <h4>Please select a parent to text</h4>
    </div>
    <ion-list ng-if="parentsList.length > 0">
      <ion-item class="item-text-wrap item-icon-right" ng-repeat="parent in parentsList" ng-click="textParent($index)">
        <a href="javascript:void(0)" class="text-subdued-frobels">{{parent.father_name}}</a>
        <span class="unread-highlighter" ng-if="showUnread(parent.parent_id)">.</span>
        <i class="icon icon-accessory ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <div class="card" ng-if="parentsList.length == 0">
        <p style="text-align: center; padding: 43px;">No messages to show.</p>
      </div>
    </ion-card>
  </ion-content>
</ion-view>
