<ion-view view-title="Time Table">
  <ion-content class="padding" style="background-color: #f0f5f5">
    <div ng-if="timetableData.length == 0">
      <div class="card" style="padding: 10px">
        <p> No details to show. </p>
      </div>
    </div>
    <div ng-if="timetableData.length > 0">
      <div class="list">
        <div class="item item-divider">
          <div class="row" ">
           <div class="col col-33">Date</div>
            <div class="col col-33">Class</div>
            <div class="col col-33">Period</div>
          </div>
        </div>
        <div class="item" ng-repeat="data in timetableData">
          <div class="row">
            <div class="col col-33">{{data.date | date}}</div>
            <div class="col col-33">{{data.class_name}}-{{data.section}}</div>
            <div class="col col-33">{{data.period}}</div> 
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
